body {
    font-family: 'Roboto', sans-serif;
}

li {
    padding-right: 30px;
}

nav {
    background-color: #170366;
}

a {
    color: #b7afdb;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar-brand {
    font-size: 22px;
}

.nav-item {
    font-size: 19px;
}

.a {
    height: 100%;
}

.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-container{
    height: 100%;
}
.upload-image{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(197, 173, 173);
    justify-content: center;
    align-items: center;
    width: auto;
    height: 150px;
}
.error {
    color: red;
}